<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269089366217-n0iqs6gbj4k0flof4jo3ekprriecujgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269089366217-n0iqs6gbj4k0flof4jo3ekprriecujgk</string>
	<key>API_KEY</key>
	<string>AIzaSyDbTUjIdvVuv79GVLIQpcE5tavzksPhG8k</string>
	<key>GCM_SENDER_ID</key>
	<string>269089366217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sauh.matchPictures.MatchPictures</string>
	<key>PROJECT_ID</key>
	<string>matchpictures</string>
	<key>STORAGE_BUCKET</key>
	<string>matchpictures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:269089366217:ios:53e0784073cc40875d2d18</string>
	<key>DATABASE_URL</key>
	<string>https://matchpictures.firebaseio.com</string>
</dict>
</plist>
